@model CoreDepartman.Models.Departman
@{
    ViewData["Title"] = "YeniDepartman";
    Layout = "~/Views/Shared/_testLayout.cshtml";
}
<br />
<form class="form-group" method="post">
    <div class="container">
        <div class="row my-2" >
            <div class="col">
                @*<b>@Html.LabelFor(x => x.DepartmanAd)</b>*@
                <label>Departman Adı</label>
            </div>
            <div class="col">
                @Html.TextBoxFor(x => x.DepartmanAd,new { placeholder = "Departman Adı Giriniz...",@class = "form-control" })
            </div>
        </div>
        <div class="row my-2">
            <div class="col">

            </div>
            <div class="col">
                <button class="btn btn-info">Departman Ekle</button>
            </div>
        </div>
    </div>
</form>