@model CoreDepartman.Models.Personel
@{
    ViewData["Title"] = "YeniPersonel";
    Layout = "~/Views/Shared/_testLayout.cshtml";
}

<br />
<form class="form-group" method="post">
    <div class="container">
        <div class="row my-2">
            <div class="col-sm">
                <label>Personel ADI</label>
            </div>
            <div class="col-sm">
                @Html.TextBoxFor(x => x.PerAd, new { placeholder="Personel Adı Giriniz...",@class = "form-control" })
            </div>
        </div>
        <div class="row my-2">
            <div class="col-sm">
                <label>Personel SOYADI</label>
            </div>
            <div class="col-sm">
                @Html.TextBoxFor(x => x.PerSoyad, new { placeholder="Personel Soyadı Giriniz...",@class = "form-control" })
            </div>
        </div>
        <div class="row my-2">
            <div class="col-sm">
                <label>Personel Sehir</label>
            </div>
            <div class="col-sm">
                @Html.TextBoxFor(x => x.PerSehir, new { placeholder="Personel Şehir Giriniz...", @class = "form-control" })
            </div>
        </div>
        <div class="row my-2">
            <div class="col-sm">
                <label>Personel DEPARTMAN</label>
            </div>
            <div class="col-sm">
                @Html.DropDownListFor(x => x.DepartmanID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
            </div>
        </div>
        <div class="row my-2">
            <div class="col-sm">

            </div>
            <div class="col-sm">
                <button class="btn btn-info">Personel Ekle</button>
            </div>
        </div>
    </div>
</form>
